@import '~antd/dist/antd.css';

$colorChat: #f54083;

.App {
    // margin-left: 60px;
    // margin-right: 20%;
    margin-bottom: 10px;

    .chat {
        text-align: right;
        margin-right: 38px;
        margin-bottom: 30px;

        .btnChat{
            font-size: 24px;
            background: $colorChat;
            border-color: $colorChat;
        }
    }
}
  